#!/usr/bin/make -f
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

DESTDIR=$(CURDIR)/debian/erlang-p1-oauth2


override_dh_auto_configure:
	# Test dh_rebar version
	test "`dpkg-parsechangelog --show-field Version | sed 's/.*:\([^-]*\)-.*/\1/'`" = `grep PKG_VERSION debian/dh-rebar.conf | sed 's/PKG_VERSION=//'`
	dh_auto_configure

%:
	dh $@ --buildsystem=rebar --with rebar
